@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

#heading {
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  font-family: var(--title2);
  font-size: 2em;
  color: var(--main-bg);
  display: flex;
}

#alarm-set {
  width: 50px;
  height: 50px;
  margin: 0px 2px;
  display: none;
  transform: rotate(30deg);
}

.clock-content {
  justify-content: center;
}

#clock {
  /* margin: 10px; */
  padding: 0px;
  position: relative;
  margin: auto;
  background: url(../img/stopwatch_d.png) no-repeat;
  width: 35vw;
  height: 35vw;
  background-size: contain;
  /* background-color: yellow; */
}
#clock_dark {
  position: relative;
  margin: auto;
  background: url(../img/stopwatch_l.png) no-repeat;
  width: 35vw;
  height: 35vw;
  background-size: contain;
  /* background-color: yellow; */
}

#second {
  position: absolute;
  transform-origin: bottom;
}

#second {
  border-radius: 20vw;
  background-color: var(--main-bg);
  height: 42%;
  width: 2%;
  top: 8%;
  left: 29.7%;
  opacity: 0.8;
  /* display: none; */
}

.clock-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.clock-content div {
  justify-content: center;
  align-items: center;
  margin: 0 6.5vw;
}

.content-left {
  justify-content: center;
  align-items: center;
}

.button {
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-right {
  background-color: var(--main-bg);
  justify-content: center;
  align-items: center;
  height: 30vw;
  width: 50vw;
  border-radius: 12px;
}

.digital {
  justify-content: center;
  text-align: center;
  align-items: center;
}
#digital_timer {
  margin: 20px 0px;
  font-family: var(--num-digits);
  font-size: 3em;
  color: var(--main-bg2);
}

.lap-box {
  height: 20vw;
  width: 20vw;
  /* background-color: red; */
  overflow: scroll;
  justify-content: center;
  text-align: center;
}
.lap-box ul {
  list-style: none;
}
.lap-box ul li {
  color: var(--main-bg2);
  font-family: var(--general);
  font-size: 1.5em;
}

.alarm {
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.alarm-left {
  justify-content: center;
  align-items: center;
}
.alarm-img {
  justify-content: center;
  align-items: center;
  width: 32vw;
  height: 35vw;
}

.alarm-right {
  align-items: center;
  justify-content: center;
  margin: 0 10vw;
}
#alarmof {
  text-align: center;
  align-items: center;
  color: var(--main-bg);
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

.alarm-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alarm-form input {
  justify-content: center;
  margin: 10px 0;
  width: 20vw;
  height: 30px;
  background: transparent;
  border-radius: 12px;
  border: 3px solid var(--main-bg);
  padding: 0 10px;
  color: var(--main-bg);
  font-family: var(--general);
  font-size: 1em;
}
.alarm-form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main-bg);
  opacity: 1; /* Firefox */
}
