@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --title: "Langar", cursive;
  --title2: 'Righteous', cursive;
  --num-digits: "Nova Square", cursive;
  --general: "Source Sans Pro", sans-serif;
  /* --main-bg:black; */
  --main-bg: white;
  --main-bg2: black;
}

::selection {
  background:#333;
  color:white;
  }

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background: slateblue url(https://bit.ly/376Khcg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: slateblue;
}

/* ---------------------------------------------------------- */

.nav {
  background-color: var(--main-bg);
  margin-bottom: 10px;
}

.nav a {
  text-decoration: none;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 5px;
}

.menu img {
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}

.home {
  display: flex;
  justify-content: center;
  text-align: center;
}
.home h1 {
  margin-top: 3px;
  font-family: var(--title);
  color: var(--main-bg2);
}
.home img {
  width: 32px;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
}
#theme {
  width: 26px;
  margin-bottom: 1.3px;
  cursor: pointer;
}

#menu-icon {
  width: 30px;
  cursor: pointer;
}

#menu-list {
  display: none;
  list-style: none;
}
#menu-list ul li {
  display: block;
  list-style: none;
  padding: 3px 10px;
}
#menu-list ul li a {
  color: var(--main-bg2);
  font-family: var(--general);
  font-size: 1.25em;
  display: block;
}
#menu-list ul li a:hover {
  background-color: grey;
  border-radius: 5px;
}

/* /------------------------------------------------------- */


.btn {
  margin: 20px;
  justify-content: center;
  left: 10%;
}

.btn {
  margin: 0 20px;
  padding: 10px;
  border-radius: 12vw;
  background-color: transparent;
  color: var(--main-bg);
  border: 3px solid var(--main-bg);
}

.btn:disabled{
  color: gray;
  border: 2px solid grey;

}


.hr_ {
  border: 2.5px solid var(--main-bg);
  background: var(--main-bg);
  width: 80%;
  margin: auto;
  border-radius: 10px;
}
.hr_2 {
  border: 1.3px solid var(--main-bg);
  background: var(--main-bg);
  width: 60%;
  margin: auto;
  border-radius: 10px;
}
